.background-image{
    background: url('../images/sunset-olives.jpg');
    background-position: center;
    background-image: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 95vh;
    position: relative;
    padding: 0;
    opacity: .8;
}

.container-fluid{
    width: 100%;
    padding-top: 2%;
    height: 95vh;
}


/* Navbar */
.nav-bar {
  overflow: hidden;
  text-align: center;
}

.nav-bar-name{
    font-family: 'Fraunces';
    color: #0dcaf0;
    text-decoration: none;
    font-size: 4rem;
    opacity: .8;
}
.title-info{
    padding-top: 30%;
}
/*.title-btn{
    padding-top: 15%;
}*/
.title-col{
    font-size: 2rem;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-color: #0dcaf0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #AEE7E8;
    font-size: 2rem;
}


.title-text{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}
.middle-container {
    text-align: center;
    padding-top: 5%;
}
.upcoming{
    color: #0dcaf0;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 0 auto 10 auto;
    font-weight: normal;
}

.circle-picture {
    border-radius: 50%;
    float: center;
    height: 50vh;
    width: 50vh;
    position: relative;
    margin-top: 10%;
    margin-bottom: 2%;
}
.bottle {
    padding: 50px;
    height: 550px;
}

.oil-range {
    align: center;
}
.product-comments{
    align: center;
    text-align: center;
    padding-top: 10%;
}

#carousel{
    margin: 0%;
}

.carousel-item{
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-bottom: 0;
}

.product-row{
    width: 60%;
    margin: 50px auto 50px auto;
    text-align: center;
    line-height: 2;
}

.contact-me {
    clear: left;
    align: center;
    padding: 5%;
}

.bottom-container {
    background-color:#0dcaf0;
    height: 5vh;
    margin: 0;
}

.facebook-icon{
    padding-left: 3%;
}



}
@media (max-width: 1028px) {
    .title-info{
        padding-top: 30;
    }
    .product-comments{
        padding-top: 0;
    }
    .oil-range{
        padding-top: 10%;
    }
    .product-row{
        float: center;
    }
    #carousel{
        padding-top: 7%;
        object-fit: cover;
    }

    .carousel-inner{
        height: 300px;
    }

    .circle-picture{
        margin: 0;
        margin-top: 5%;
    }

}


/* colors
##F4F787
##85EB4E
##32C38C
##3F84AC*/
